@model IdentitySample.Models.ConfirmSellerViewModel

@{
    ViewBag.Title = "Seller Profile";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-success">
Thank you for completing your <strong>Seller Profile</strong>, you may now access the Listing Manager to manage your auciton and store items.<br />Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })    
</div>
<div id="sellerprofile">

    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.BusinessName, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.BusinessName)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.Address1, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Address1)
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.Address2))
    {
        <div class="row">
            <div class="col-md-2">
                <label class="control-label"> &nbsp; </label>
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(m => m.Address2)
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.Country, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Country)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.City, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.City)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.StateRegion, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.StateRegion)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.ZipPostal, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.ZipPostal)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(model => model.PaymentMethod, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </div>
    </div>
</div>
<div><br />
    <p>
        You may update this information at any time through your <a href="#">Acccount Manager</a>
    </p>
</div>
