@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "SellerProfile";
}

<h2>SellerProfile</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName) &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName) &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference) &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created) &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email) &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed) &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash) &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityStamp) &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityStamp) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber) &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed) &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled) &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName) &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName) &nbsp;
        </dd>

    </dl>
</div>

